footer {
  display: flex;
  max-height: var(--nfheight);
}

.footer-container {
  width: 100%;
  display: flex;
  /* position: absolute; */
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 15px 45px 25px 45px;
  /* background-color: rgb(247, 6, 166); */
}

.footer-left {
  /* background-color: orange; */
}

.footer-right {
  display: flex;
  /* background-color: cyan; */
}

.footer-left > .footer-brand {
  margin: 0 30px;
  font-size: large;
  font-weight: 600;
}

.footer-right > .footer-link {
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 30px;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
