@import url("https://use.typekit.net/wzl6imw.css");

* {
  box-sizing: border-box;
}

:root {
  --nfheight: 55px;
  --maxh: 100vh;
  --terminalh: calc(var(--maxh) * 0.7);
  --containerw: 50%;
  --cmdw: calc(var(--containerw) * 0.8);
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", poppins,
    sans-serif; */
  font-family: poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddd;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
